.roundsBlock {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 7px;
}
.roundsBlock.current path {
  stroke: var(--orange_100);
}
.roundsBlock.riched path {
  stroke: var(--black_40);
}

.roundsBlock.current .roundsContent {
  color: var(--orange_100);
}
.roundsBlock.current .roundsLine {
  background-color: var(--orange_100);
}
.roundsBlock.riched .roundsContent {
  color: var(--black_40);
}
.roundsBlock.riched .roundsLine {
  background-color: var(--black_40);
}
.roundsContent {
  position: absolute;
  margin: 0;
  padding: 8px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -55%);
  z-index: 3;
  font-family: 'Inter', sans-serif;
}

.roundsLine {
  position: absolute;
  top: 46%;
  width: 100%;
  height: 1px;
  background-color: var(--black_40);
  z-index: 1;
}
.roundsSvgWarp {
  z-index: 2;
}
.roundsSvgWarp svg:first-child {
  display: block;
}
.roundsSvgWarp svg:last-child {
  display: none;
}
@media (max-width: 767px) {
  .roundsSvgWarp svg:first-child {
    display: none;
  }
  .roundsSvgWarp svg:last-child {
    display: block;
  }
  .roundsContent {
    padding: 0;
  }
}
