.mainGameWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: stretch;
  overflow: hidden;
}
.mainGameBoard {
  width: 70vw;
  height: 100vh;
  flex: 1 1;
  display: flex;
  flex-direction: column;
  background-color: var(--black_5);
  overflow: hidden;
  overflow-y: auto;
  box-sizing: border-box;
  justify-content: space-between;
}
.mainGameQuestionsBlock {
  width: 100%;
  padding: 10% 2% 6% 10%;
}
.mainGameQuestion {
  margin: 0;
}
.mainGameAnswers {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding-left: 10%;
  padding-bottom: 100px;
}
.mainGameScoreContainer {
  display: flex;
  padding: 10px 0;
  width: 30vw;
  min-width: 376px;
  overflow: hidden;
  overflow-y: auto;
  background: #fff;
}
.mainGameScoreWrap {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
}
.menu {
  display: none;
}

@media (max-width: 767px) {
  .mainGameWrapper {
    overflow-x: auto;
  }
  .mainGameBoard {
    width: 100%;
    height: 100vh;
    padding: 20px 0 32px;
    align-items: center;
  }
  .mainGameQuestionsBlock {
    text-align: center;
    padding: 0;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 0;
    flex: 1 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .mainGameQuestions {
  }
  .mainGameAnswers {
    justify-content: center;
    padding: 0;
  }
  .mainGameScoreContainer {
    width: 100%;
    min-width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: 0.3s;
    transform: translateX(100%);
    z-index: 99;
  }
  .mainGameScoreContainer.open {
    transform: translateX(0);
  }
  .menu svg:last-child {
    opacity: 0;
  }
  .menu.open svg:last-child {
    opacity: 1;
  }
  .menu.open svg:first-child {
    opacity: 0;
  }
}
