@import 'modern-normalize/modern-normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');
/* :root{
  --orange-dark: #E87928
--orange: #FF8B37
--orange-light: #FFAC70
--orange-lighter: #FFF3EB

--green: #47D867
--green-lighter: #E6FAEA

--red: #EC6259
--red-lighter: #FDEEED

--black: #1C1C21
--gray: #D0D0D8
--gray-light: #F5F5F7
--white: #ffffff
} */

body {
  /* font-family: 'Inter', sans-serif;
  padding: 0;
  height: 100%;
  width: 100%; */

  margin: 0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* img {
  display: block;
  max-width: 100%;
  height: auto;
} */
